.search-flight {
   margin: 0.5rem auto;
   max-width: 99%;
   font-family: 'Roboto', Arial, sans-serif;
   overflow: hidden; /* Prevents any unexpected overflow */
   height: 90vh; /* Uses 90% of the screen height */
   display: flex;
   flex-direction: column;
  }
  
  .search-flight h2 {
    text-align: center;
    margin-bottom: 5px; 
    margin-top: -5px;
    font-weight: bold;
    font-size: 36px; 
  }

  .search-form {
    flex-grow: 1; /* Takes up remaining space */
    height: 100%; /* Ensures full height */
    max-height:557px; /* Sets a fixed height for the scroll effect */
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 0;
    transform: translateY(-5px); /* Slightly lifted container */
  }
  
  table {
    margin-top: 0.1rem;
    min-height: 557px;
    border-collapse: collapse;
  }
  
  th.mat-header-cell {
    padding: 1rem;
    text-align: left;
    font-weight: bold;
    color: #1976d2;
  }
  
  td.mat-cell {
    padding: 1rem;
    text-align: left;
  }
  
  .mat-elevation-z8 {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .mat-header-row {
    background-color: #f5f5f5;
  }

  /* Ensure the Actions Column is Properly Centered */
  .mat-column-actions {
    display: table-cell;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    text-align: center; /* Centers the button */
    vertical-align: middle; /* Ensures button is vertically aligned */
    padding: 0 !important; /* Removes extra padding */
    border: 1px solid #333 !important; /* Keeps border consistent */
    border-bottom: #ffffff !important; /* Removes bottom border */
}

  /* Scrollbar Customization */
.search-form::-webkit-scrollbar {
  width: 10px;
}

.search-form::-webkit-scrollbar-thumb {
  background-color: #1976d2;
  border-radius: 8px;
}

.search-form::-webkit-scrollbar-thumb:hover {
  background-color: #1259a5;
}

.search-form::-webkit-scrollbar-track {
  background: #f2f2f2;
}
  





